<div class="p4">


  <p><b>HotCars is Way better than a rental car<br>
  </p>
  </b>

</div>

<div class="container">
  <p id="aboutus"> About Us <br>
    "HotCars is a platform that allows you to Choose from hundreds of luxury cars you won’t<br>
    find anywhere else. Pick it up or get it delivered where you want it. </p>

  <br>
  <br><br><br><br><br>
</div>

<div class="media">
  <div class="media-body">
    <h5 class="middle">
      BOOK, UNLOCK, AND GO!<br>
      Discover HotCars Go,
      FIND, BOOK, AND UNLOCK CARS ON DEMAND,
      RIGHT FROM THE HotCars APP.

    </h5>
  </div>
  <img src="./assets/image/Rental.jpg" class="semiddle" width="500" height="500">
</div>
<nav class="navbar navbar-light bg-light">
  <div class="text-center">
    <h5 id="contactus"> Contact Us <br>
      We love to hear from you <br>


      <i class="fab fa-facebook-square" width="50" height="50"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>

      <br>

    </h5>
  </div>
</nav>