<div class="container u-align-center">
    <h2> Way better than a rental car</h2>
    <p>Book unforgettable cars from trusted hosts around the world</p>

    <!-- Default dropleft button for where -->
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Where
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->


            <select id="carModel">
                {{#each makeoption }}
                <option value={{this.id}}>

                    {{this.make}} - {{this.year}}

                </option>
                {{}}
                {{/each}}
            </select>

        </div>
    </div>

    {{!-- where and untill calendar --}}

</div>
 